<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="home_app">
<head>
    <!--JQuery-->
    <script src="asset/js/jquery-1.9.1.js" type="text/javascript"></script>
    
    <!--BootStrap-->
    <link href="asset/bootstrap_3.1/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="asset/bootstrap_3.1/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="asset/font_awesome_4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css" /> 
    <script src="asset/bootstrap_3.1/js/bootstrap.js" type="text/javascript"></script> 
    
    <!--AnglarJS--> 
    <script src="asset/js/angular.js" type="text/javascript"></script>  
    <script src="asset/js/controller.js" type="text/javascript"></script>
    
    <!-- <link href="asset/css/docs.css" rel="stylesheet" type="text/css" />-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="asset/bootstrap_3.1/js/respond.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
      $().ready(function(){ 
         $.get("menu_white.htm", function(data){ 
             $("#menu").append(data); 
         });
      })
    </script>

</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" ng-controller="home_controller">
    <div id="menu" style="margin-bottom: 60px;">
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div class="list-group">
                  <a href="#" class="list-group-item active">  Cras justo odio </a>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
                </div>
                <div class="col-md-9" style="margin-top: 10px;">
                    <div class="panel panel-default">
                        <ul class="breadcrumb">
                            <li><a href="#">Contry</a> <span class="divider">/</span></li>
                            <li><a href="#">City</a> <span class="divider">/</span></li>
                            <li class="active">Data</li>
                        </ul>
                        <div class="panel-body">
                            <ul class="list-group" style="margin-left: 2px">
                                <li class="list-group-item" ng-repeat="item in list">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#" class=" thumbnail">
                                                <img src="http://placehold.it/200x150" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            {{item.description}}
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <h2> 13540 <small> votes </small></h2>
                                            <button type="button" class="btn btn-success">Vote Now!</button>
                                            <div  style="margin:5px;">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-empty"></i>
                                            </div>
                                            <p> Average 4.1 <small> / </small> 5 </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div style="text-align:center;">
                                <ul class="pagination"> 
                                        <li ng-repeat="item in pager"><a href="{{item.link}}">{{item.name}}</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</body>
</html>
